
/*Body*/

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

h2, h3, h4, h5 {
	display: block;
	font-weight: bold;
}

div {
	display: block;
}

/*Header section*/

header {
	position: fixed;
	height: 69px;
	width: 100%;
	background-color: black;
	border-bottom: 1px solid seashell;
	z-index: 1;
}

/*Logo*/

.logo {
	display: flex;
	align-items: center;
	height: 50px;
	padding-left: 10px;
	flex-grow: 1;
}

.logo img {
  	height: 50px;
}

/*Nav*/

nav {
	flex-grow: 1;
	text-align: right;
	padding-right: 10px;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
	text-decoration: underline;
}

a {
	color: seashell;
}


/*Main*/

.Main-Section {
	width: 1200px;
	margin: auto;
	padding-top: 69px;
}

/*Flex Container*/

.container {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*Mission*/

#Mission {
	height: 700px;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
	padding-top: 69px;
}

#Mission .mission-text {
	text-align: center;
	margin: auto;
	background-color: black;
	width: 100%;
}

/*Featured Tea*/

#Featured-Tea {
	height: 700px;
	width: 1000px;
	margin: auto;
	padding-top: 69px;
}

.teas {
	padding: 5px;
}

.teas img {
	height: 200px;
	width: 300px;
	display: block;
	margin: 10px;
}

/*Locations*/

#Locations {
	height: 500px;
	width: 1200px;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
	padding-top: 69px;
}

.shop {
	display: flex;
	width: 300px;
	opacity: 1;
	background-color: black;
	justify-content: center;
	flex-direction: column;
	margin: 5px 20px;
	padding: 10px;
}

/*Contact*/

.contact {
	height: 200px;
}

/*Footer*/

footer {
	text-align: left;
	padding-left: 20px;
}


